name: Java Tests CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Use Java 18
      uses: actions/setup-java@v3
      with:
        java-version: '18'
    - name: Tests
      run: mvn test
    - name: Package
      run: mvn package
